<div id="gallery" class="theme-ladr">
{{#each images}}
  <img src="{{this}}" />
{{/each}}
</div>
<div id="content" class="span-22 push-2">
  <h1 class="span-12">{{name}}</h1>
  <h2 class="span-12">{{city}}, {{province}}</h2>
  <ul class="span-12" id="features">
  {{#each features}}
    <li>{{this}}</li>
  {{/each}}
  </ul>
</div>